body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
h1, h2, h3 {
    color: #3d3d3d;
}
h1{
    background-color: #E1EDF2;
}
h3{
    border-bottom: #3d3d3d 2px solid;
}
img{
    max-width: 100%;
    height: auto;
    background-color: whitesmoke;
}
#centrar{
    display: block;
    margin: auto;
    max-width: fit-content;
    text-align: center;
    color: lightgrey;
}
