body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
h1, h2, h3 {
    color: #3d3d3d;
}
h1{
    background-color: #E1EDF2;
}
h3{
    border-bottom: #3d3d3d 2px solid;
}
#figura_familia{
    flex-shrink: 0;
    margin-left: 20px;
    height:300px;
    width: 275px;
}
#figura_matriz{
    width: 550px;
}


#imgs{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: whitesmoke;
}

#centrar{
    display: block;
    margin: auto;
    max-width: fit-content;
    text-align: center;
    color: lightgrey;
}
figure{
    overflow: hidden;
    display: block;
    margin: auto;
    max-width: fit-content;
    text-align: center;
    color: lightgrey;
}

figcaption{
    text-align: center;
    color: rgb(153, 153, 153);
}

#Historia{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}
#Historia p{
    flex-grow: 1;
}